.form-wrapper{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    display: flex;  
    align-items: center; 
    justify-content: center;
    height: 100vh;
}


.login-container{
    display: flex;
    justify-items: center;
    height: 340px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
}
.login-header{
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.personCircle{
    display: flex;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    flex-direction: column;
    box-sizing: border-box;
}



.forHead{
    z-index: 2;
    margin-top: 10px;
    background: black;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    
}

.forBody{
    z-index: 3;
    margin-top: 53px;
    width: 70px;
    height: 30px;
    background: black;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    position: absolute;
}

.ResetAccountPassword{
    margin-left: 20px;
}

.ResetAccountPassword h3{
    display: flex;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.inputs-container-wrapper{
    display: flex;
    width: 100%;
    box-sizing: border-box;
}

.inputs-container{
    width: 100%;
}

.submit-button-container{
    width: 100%;
    box-sizing: border-box;
}

.login-button{
    width: 200px;
}

.goto-login-container{
    width: 100%;
    font-size: 90%;
}

.sign-up-container{
    width: 100%;
    font-size: 90%;
}

.nav-link{
    text-decoration: none;    
}

.sucessSendResetPasssword{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}